@model UpsConnectService.ViewModels.Users.UserViewModel;

@{
    ViewData["Title"] = "Страница пользователя";
}

<h2>@ViewData["Title"]</h2>

<div class="container">           
    <hr>
    <p>Имя: <code>@Model.User.FirstName</code><p />
    <p>Фамилия: <code>@Model.User.LastName</code><p />
    <p>Логин: <code>@Model.User.UserName</code><p />
    <p>Компания: <code>@Model.User.Company</code><p />
    <p>Email: <code>@Model.User.Email</code><p />
    <hr>


    <a class="btn btn-sm btn-primary btn-user-width" asp-controller="Account" asp-action="EditUser" asp-route-userid="@Model.User.Id">Редактировать</a>



   @* <form asp-controller="Account" asp-action="Edit" asp-route-userid="@Model.User.Id" method="get">
        <button type="submit" class="logout-button btn-user-width">
            Редактировать
        </button>
    </form>
*@
         
</div>