@model UpsConnectService.ViewModels.Users.UserViewModel;


@{
    ViewData["Title"] = "Service View";
}
<link rel="stylesheet" href="~/css/serviceView-style.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>

<p>Страница мониторинга устройств</p>
<br>


<div class="list-device">
    <h4>Привязаные устройства</h4>

    <table class="table">
        @if (Model.LinkedDevices != null)
        {
            @foreach (var item in Model.LinkedDevices)
            {
                <tr data-more-checker="tr-read-more-@item.SerialNumber">

                    <td>
                        <label>@Model.Number</label>
                    </td>

                    <td>
                        <label>В сети</label>
                    </td>

                    <td>
                        <input type="checkbox" class="read-more-checker" id="read-more-checker-@item.SerialNumber" data-more-checker="read-more-@item.SerialNumber" />
                        <div class="limiter">
                            <label>Название устройства: <code>@item.NameDevice</code></label>
                            <br>
                            <label>Заводской номер: <code>@item.SerialNumber</code></label>
                            <br>
                            <label>Входное напряжение: <label id="@item.SerialNumber-inputVoltage" /></label>
                            <br>
                            <label>Выходное напряжение: <label id="@item.SerialNumber-outputVoltage" /></label>
                            <br>
                            <label>Выходной ток: <label id="@item.SerialNumber-inputСurrent" /></label>
                            <br>
                            <label>Выходной ток: <label id="@item.SerialNumber-outputСurrent" /></label>
                            <br>
                            <div class="bottom"></div>
                        </div>
                        <label for="read-more-checker-@item.SerialNumber" class="read-more-button"></label>
                    </td>

                    <td>
                        <form asp-controller="" asp-action="" method="post">

                          @*  <input type="hidden" name="serialNumber" value="@item.SerialNumber" />
                            <input type="hidden" name="userId" value="@Model.UserViewModel.User.Id" />*@

                            <button type="submit" class="btn btn-sm enter_submit btn-user-width">
                                Подробно
                            </button>
                        </form>

                    </td>
                </tr>
            }
        }       
        
       
    </table>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>



