@model UpsConnectService.ViewModels.Users.UserViewModel;


@{
    ViewData["Title"] = "Service View";
}

<h1>@ViewData["Title"]</h1>

<p>Страница мониторинга устройств</p>
<br>


<div class="list-device">
    <h4>Привязаные устройства</h4>

    <table class="table">
        @if (Model.LinkedDevices != null)
        {
            @foreach (var item in Model.LinkedDevices)
            {
                <tr>

                    <td>
                        <label>@Model.Number</label>
                    </td>
                    <td id=@item.SerialNumber>
                        <label>Название устройства: <code>@item.NameDevice</code></label>
                        <br>
                        <label>Заводской номер: <code>@item.SerialNumber</code></label>
                    </td>

                    <td>
                        <form asp-controller="" asp-action="" method="post">

                          @*  <input type="hidden" name="serialNumber" value="@item.SerialNumber" />
                            <input type="hidden" name="userId" value="@Model.UserViewModel.User.Id" />*@

                            <button type="submit" class="btn btn-sm enter_submit btn-user-width">
                                Подробно
                            </button>
                        </form>

                    </td>
                </tr>
            }
        }       
        
       
    </table>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>



