@model UpsConnectService.ViewModels.UserPageViewModel;


@{
    ViewData["Title"] = "Страница пользователя";
}

<h2>@ViewData["Title"]</h2>




<div class="user-container">
    <div class="user-info-left">
        <h4>Данные пользователя</h4>
        <p>Имя: <code>@Model.UserViewModel.User.FirstName</code><p />
        <p>Фамилия: <code>@Model.UserViewModel.User.LastName</code><p />
        <p>Логин: <code>@Model.UserViewModel.User.UserName</code><p />
        <p>Компания: <code>@Model.UserViewModel.User.Company</code><p />
        <p>Email: <code>@Model.UserViewModel.User.Email</code><p />

        <form asp-controller="Edit" asp-action="EditUser" asp-route-userid="@Model.UserViewModel.User.Id" method="post">
            <button type="submit" class="enter_submit btn-user-width">
                Редактировать
            </button>
        </form>
    </div>

    <div class="user-info-right">
        <h4>Привязать устойство</h4>

        <div>
            <form class="frm" method="post" asp-controller="RegisterDevice" asp-action="RegisterNewDevice">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="mrgn">
                    <input asp-for="RegisterViewsModel.SerialNumber" class="form-control" />
                    <span asp-validation-for="RegisterViewsModel.SerialNumber" class="text-danger"></span>
                </div>

                <div class="mrgn">
                    <input asp-for="RegisterViewsModel.ManufactureCode" class="form-control" />
                    <span asp-validation-for="RegisterViewsModel.ManufactureCode" class="text-danger"></span>
                </div>
                <div class="center">
                    <input class="enter_submit" type="submit" value="Регистрация" />
                </div>

            </form>
        </div>
    </div>

</div>



    <hr>
    <hr>

    <div>

        <h4>Привязаные устройства</h4>

    </div>

