@model UpsConnectService.ViewModels.Users.UserViewModel;

@{
    ViewData["Title"] = "Страница пользователя";
}

<h2>@ViewData["Title"]</h2>

<div class="container">           
    <hr>
    <p>Имя: <code>@Model.User.FirstName</code><p />
    <p>Фамилия: <code>@Model.User.LastName</code><p />
    <p>Логин: <code>@Model.User.UserName</code><p />
    <p>Компания: <code>@Model.User.Company</code><p />
    <p>Email: <code>@Model.User.Email</code><p />
    <hr>

    <form asp-controller="Edit" asp-action="EditUser" asp-route-userid="@Model.User.Id" method="post">
        <button type="submit" class="enter_submit btn-user-width">
                Редактировать
        </button>
    </form>

    <hr>
    <h4>Привязать устойство</h4>
    <hr>
    <h4>Привязаные устройства</h4>
         
</div>